// Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Material+Icons');

@font-face {
  font-family: "Alaska Extrabold";
  src: url("/fonts/AlaskaExtrabold.woff") format("woff"),
       url("/fonts/AlaskaExtrabold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap-variables';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/tables';
@import "bootstrap/buttons";
@import "bootstrap/list-group";
@import 'bootstrap/utilities';
// @import "bootstrap/images";
// @import "bootstrap/code";
// @import "bootstrap/forms";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/print";

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/strip';
@import 'components/hero-image';
@import 'components/bg';
@import 'components/masonry';

// Pages
@import 'pages/services/service-summary';
@import 'pages/events/events-summary';
@import 'pages/events/page-events-single';
@import 'pages/contact/contact';
@import 'pages/homepage/homepage';
