<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{ end }}

  <link rel="preload" href="{{ .Site.BaseURL }}/fonts/AlaskaExtrabold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="{{ .Site.BaseURL }}/fonts/AlaskaExtrabold.woff2" as="font" type="font/woff2" crossorigin>

  {{- $favicon := (resources.Get "images/shakthi-palace-logo-transparent.png").Resize "48x #fff" -}}
  <link rel="icon" href="{{ $favicon.RelPermalink }}">

  {{ $style := resources.Get "scss/style.scss" }}
  {{ $script := resources.Get "js/script.js" }}
  {{ if .Site.IsServer }}
  {{ $devStyle := $style | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ $devStyle.RelPermalink }}">
  <script type="module" src="{{ $script.RelPermalink }}"></script>
  {{ else }}
  {{ $prodStyle := $style | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $prodStyle.RelPermalink }}" integrity="{{ $prodStyle.Data.Integrity }}">
  {{ $prodScript := $script | minify | fingerprint }}
  <script type="module" src="{{ $prodScript.RelPermalink }}" integrity="{{ $prodScript.Data.Integrity }}"></script>
  {{ end }}

  {{ block "header_css" . }} {{ end }}
  {{ block "header_js" . }} {{ end }}
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
{{ partial "main-menu-mobile.html" . }}
<div id="wrapper" class="wrapper">
  {{ partial "header.html" . }}
  {{ block "main" . }}
  {{ end }}
</div>

{{ partial "footer.html" . }}

</body>
</html>
