{{ define "body_classes" }}page-contact{{ end }}

{{ define "main" }}
<div class="intro intro-small">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-1">
        <div class="col-md">
            {{ .Content }}
            <ul>
                {{ $whatsapp := (resources.Get "images/WhatsApp.png").Resize "24x" }}
                {{ range .Site.Data.contact.mobile }}
                <li><strong>Mobile/<img class="whatsapp-icon" src="{{ $whatsapp.RelPermalink }}" alt="WhatsApp Available">: </strong><a href="tel:{{ . }}">{{ . }}</a></li>
                {{ end }}
                {{ with .Site.Data.contact.telephone }}
                <li><strong>Telephone: </strong><a href="tel:{{ . }}">{{ . }}</a></li>
                {{ end }}
                {{ range .Site.Data.contact.email }}
                <li><strong>Email: </strong><a href="mailto:{{ . }}">{{ . }}</a></li>
                {{ end }}
                {{ with .Site.Data.contact.address }}
                <li><strong>Address: </strong>{{ . }}</li>
                {{ end }}
            </ul>
            <strong>Social Media</strong>
            <ul>
                {{ range $name, $url := .Site.Data.contact.socials }}
                <li><a target="_blank" href="{{ $url }}">{{ $name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="col-md google-maps-iframe">
            {{ with .Site.Data.contact.map }}
                {{ .iframe | safeHTML }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
